openapi: 3.1.0
info:
  title: Kartos Therapeutics Content API
  version: '2'
  summary: The anonymously readable WordPress REST content surface behind kartosthera.com.
  description: >-
    Kartos Therapeutics publishes no developer program, no developer portal and no API
    documentation. The only machine-readable API surface reachable on kartosthera.com without
    credentials is the WordPress REST API the site registers at `/wp-json/`, which is documented
    upstream by the WordPress REST API Handbook rather than by Kartos Therapeutics.


    This document is DERIVED by the API Evangelist enrichment pipeline from the route index the
    site itself publishes at https://kartosthera.com/wp-json/ (183 routes across the namespaces
    `oembed/1.0`, `yoast/v1`, `wp/v2`, `wp-site-health/v1`, `wp-block-editor/v1` and
    `wp-abilities/v1`; generator reported WordPress 7.0.2). ONLY the operations that were verified
    to return data anonymously on 2026-08-04 are modelled here. Write operations, and the many
    routes that answer `401 rest_cannot_view` / `rest_forbidden` without credentials, are
    deliberately excluded — see `x-anonymous-denied` on this object for the observed denials.


    The interesting part of this surface is not stock WordPress: Kartos registers two custom post
    types that carry the company's actual scientific and corporate record — `presentation`
    (5 published congress abstracts and posters for navtemadlin, each linked to a PDF in the media
    library) and `team` (15 leadership, board and advisor bios, each with structured ACF fields for
    job title, credentials and biography). Both are REST-enabled and anonymously readable. The
    `posts` collection is registered but empty (`X-WP-Total: 0`) — Kartos authors no blog and no
    press-release archive as posts.
  contact:
    name: Kartos Therapeutics
    email: info@kartosthera.com
    url: https://kartosthera.com/contact/
  license:
    name: Not published
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://kartosthera.com/wp-json/
  x-verified: '2026-08-04'
  x-upstream-contract: https://developer.wordpress.org/rest-api/
  x-not-a-provider-published-spec: true
  x-anonymous-denied:
    - path: /wp/v2/settings
      status: 401
      code: rest_forbidden
    - path: /wp/v2/menus
      status: 401
      code: rest_cannot_view
    - path: /wp/v2/menu-items
      status: 401
      code: rest_cannot_view
    - path: /wp/v2/menu-locations
      status: 401
      code: rest_cannot_view
    - path: /wp/v2/themes
      status: 401
      code: rest_cannot_view_themes
    - path: /wp/v2/plugins
      status: 401
      code: rest_cannot_view_plugins
    - path: /wp/v2/block-types
      status: 401
      code: rest_block_type_cannot_view
    - path: /wp/v2/sidebars
      status: 401
      code: rest_cannot_manage_widgets
    - path: /wp/v2/templates
      status: 401
      code: rest_cannot_manage_templates
    - path: /wp/v2/font-collections
      status: 401
      code: rest_cannot_read
    - path: /wp/v2/icons
      status: 401
      code: rest_cannot_view
    - path: /wp-abilities/v1/abilities
      status: 401
      code: rest_forbidden
    - path: /wp-abilities/v1/categories
      status: 401
      code: rest_forbidden
    - path: /wp-block-editor/v1/url-details
      status: 401
      code: rest_cannot_view_url_details
    - path: /yoast/v1/statistics
      status: 401
      code: rest_forbidden
    - path: /wp-site-health/v1/tests/background-updates
      status: 401
      code: rest_forbidden
servers:
  - url: https://kartosthera.com/wp-json
    description: Production WordPress REST API for kartosthera.com
tags:
  - name: discovery
    description: The route index and namespace descriptors the site publishes about itself.
  - name: content
    description: Published pages and the site-wide search index.
  - name: science
    description: The navtemadlin congress presentations and publications custom post type.
  - name: people
    description: The leadership, board and advisor team custom post type.
  - name: media
    description: The media library — scientific figures, investor logos and presentation PDFs.
  - name: taxonomy
    description: Registered post types, statuses, taxonomies and terms.
  - name: oembed
    description: The oEmbed 1.0 provider endpoint for kartosthera.com URLs.
paths:
  /:
    get:
      tags: [discovery]
      operationId: getRouteIndex
      summary: Get the API route index
      description: >-
        Returns the site's own description of this API — name, description, home URL, registered
        namespaces, the full `routes` map with allowed methods and arguments, and the
        `authentication` block advertising WordPress application passwords.
      responses:
        '200':
          description: The route index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteIndex'
  /wp/v2:
    get:
      tags: [discovery]
      operationId: getNamespaceIndex
      summary: Get the wp/v2 namespace index
      description: Returns the routes registered under the `wp/v2` namespace only.
      responses:
        '200':
          description: The namespace index.
          content:
            application/json:
              schema:
                type: object
  /wp/v2/pages:
    get:
      tags: [content]
      operationId: listPages
      summary: List published pages
      description: >-
        Returns the 8 published pages of kartosthera.com — Home, Science, Research, Presentations
        & Publications, Advocacy, About, Contact and Privacy Policy — with rendered title, content
        and excerpt. Total count is returned in the `X-WP-Total` response header.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/OrderBy'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A collection of pages.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
            Link:
              $ref: '#/components/headers/Link'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Page'
        '400':
          $ref: '#/components/responses/BadRequest'
  /wp/v2/pages/{id}:
    get:
      tags: [content]
      operationId: getPage
      summary: Get a page by id
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/presentation:
    get:
      tags: [science]
      operationId: listPresentations
      summary: List navtemadlin presentations and publications
      description: >-
        Returns the `presentation` custom post type — the congress abstracts and posters Kartos
        Therapeutics publishes for navtemadlin (KRT-232), including the POIESIS Phase 3 study
        design, the BOREAS Phase 3 results, and the ruxolitinib-combination apoptosis data. Each
        record links to a PDF in the media library. 5 items published as of 2026-08-04.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/OrderBy'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A collection of presentations.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Presentation'
        '400':
          $ref: '#/components/responses/BadRequest'
  /wp/v2/presentation/{id}:
    get:
      tags: [science]
      operationId: getPresentation
      summary: Get a presentation by id
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A presentation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presentation'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/team:
    get:
      tags: [people]
      operationId: listTeamMembers
      summary: List leadership, board and advisor bios
      description: >-
        Returns the `team` custom post type — 15 records covering the executive team (CEO, CMO,
        CSO, COO and SVPs), the board of directors and the scientific/business advisors. Each
        record carries structured Advanced Custom Fields: `team-job-title`, `team-credentials`
        and `team-bio`.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/OrderBy'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A collection of team members.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'
        '400':
          $ref: '#/components/responses/BadRequest'
  /wp/v2/team/{id}:
    get:
      tags: [people]
      operationId: getTeamMember
      summary: Get a team member by id
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A team member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/media:
    get:
      tags: [media]
      operationId: listMedia
      summary: List media library items
      description: >-
        Returns the 62-item media library — 21 SVG and 18 PNG assets (logos, investor marks and
        scientific figures used on the science pages), 17 JPEG images, and 6 PDFs including the
        navtemadlin congress posters.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Fields'
        - name: media_type
          in: query
          description: Limit to a media type.
          schema:
            type: string
            enum: [image, video, text, application, audio]
        - name: mime_type
          in: query
          description: Limit to a specific MIME type.
          schema:
            type: string
      responses:
        '200':
          description: A collection of media items.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MediaItem'
        '400':
          $ref: '#/components/responses/BadRequest'
  /wp/v2/media/{id}:
    get:
      tags: [media]
      operationId: getMediaItem
      summary: Get a media item by id
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A media item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaItem'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/posts:
    get:
      tags: [content]
      operationId: listPosts
      summary: List posts
      description: >-
        The `posts` collection is registered and anonymously readable but EMPTY — verified
        `X-WP-Total: 0` on 2026-08-04. Kartos Therapeutics runs no blog and maintains no
        press-release archive as WordPress posts; its scientific record lives in the
        `presentation` custom post type instead.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A collection of posts (empty on this site).
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
  /wp/v2/search:
    get:
      tags: [content]
      operationId: searchContent
      summary: Search across published content
      description: >-
        Cross-content search returning lightweight `{id, title, url, type, subtype}` results. A
        query for `navtemadlin` returned 28 matches across pages and presentations on 2026-08-04.
      parameters:
        - name: search
          in: query
          description: The search term.
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: type
          in: query
          description: Limit results to an object type.
          schema:
            type: string
            enum: [post, term, post-format]
        - name: subtype
          in: query
          description: Limit results to a registered subtype (e.g. page, presentation, team).
          schema:
            type: string
      responses:
        '200':
          description: Search results.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
  /wp/v2/types:
    get:
      tags: [taxonomy]
      operationId: listTypes
      summary: List registered post types
      description: >-
        Returns the 13 registered post types, including the two Kartos-specific ones —
        `presentation` (Presentations) and `team` (Team Members).
      responses:
        '200':
          description: A map of post types keyed by slug.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/PostType'
  /wp/v2/types/{type}:
    get:
      tags: [taxonomy]
      operationId: getType
      summary: Get a registered post type
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
          example: presentation
      responses:
        '200':
          description: A post type descriptor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostType'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/statuses:
    get:
      tags: [taxonomy]
      operationId: listStatuses
      summary: List publicly queryable post statuses
      description: Returns the publicly visible statuses — `publish` and the ACF `acf-disabled` status.
      responses:
        '200':
          description: A map of statuses keyed by slug.
          content:
            application/json:
              schema:
                type: object
  /wp/v2/taxonomies:
    get:
      tags: [taxonomy]
      operationId: listTaxonomies
      summary: List registered taxonomies
      description: >-
        Returns the registered taxonomies — `category`, `post_tag`, `nav_menu` and
        `wp_pattern_category`. Neither Kartos custom post type is attached to a taxonomy.
      responses:
        '200':
          description: A map of taxonomies keyed by slug.
          content:
            application/json:
              schema:
                type: object
  /wp/v2/categories:
    get:
      tags: [taxonomy]
      operationId: listCategories
      summary: List categories
      description: One category is registered (`uncategorized`) with a count of 0.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A collection of categories.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
  /wp/v2/tags:
    get:
      tags: [taxonomy]
      operationId: listTags
      summary: List tags
      description: 'No tags are registered on this site (`X-WP-Total: 0`).'
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A collection of tags.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
  /wp/v2/users:
    get:
      tags: [people]
      operationId: listUsers
      summary: List public authors
      description: >-
        Returns the single public author record on the site (`admin`). Kartos does not attribute
        content to named individuals through WordPress users; named people are modelled in the
        `team` custom post type instead.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A collection of users.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /wp/v2/comments:
    get:
      tags: [content]
      operationId: listComments
      summary: List comments
      description: 'Comments are enabled at the route level but the collection is empty (`X-WP-Total: 0`).'
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A collection of comments.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /oembed/1.0/embed:
    get:
      tags: [oembed]
      operationId: getOembed
      summary: Get an oEmbed response for a kartosthera.com URL
      description: >-
        The oEmbed 1.0 provider endpoint. Returns provider name, author, title and embeddable
        HTML for any published kartosthera.com URL. Verified against the /science/ page.
      parameters:
        - name: url
          in: query
          required: true
          description: The kartosthera.com URL to embed.
          schema:
            type: string
            format: uri
          example: https://kartosthera.com/science/
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml]
            default: json
        - name: maxwidth
          in: query
          schema:
            type: integer
            default: 600
      responses:
        '200':
          description: An oEmbed response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OEmbed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  headers:
    XWPTotal:
      description: Total number of items in the collection.
      schema:
        type: integer
    XWPTotalPages:
      description: Total number of pages available.
      schema:
        type: integer
    Link:
      description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
      schema:
        type: string
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema:
        type: integer
    Page:
      name: page
      in: query
      description: Current page of the collection (1-based).
      schema:
        type: integer
        default: 1
        minimum: 1
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Slug:
      name: slug
      in: query
      description: Limit results to one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    OrderBy:
      name: orderby
      in: query
      description: Sort collection by object attribute.
      schema:
        type: string
        enum: [author, date, id, include, modified, parent, relevance, slug, title]
        default: date
    Order:
      name: order
      in: query
      description: Sort ascending or descending.
      schema:
        type: string
        enum: [asc, desc]
        default: desc
    Fields:
      name: _fields
      in: query
      description: Comma-separated list of fields to include in the response (sparse fieldsets).
      schema:
        type: string
      example: id,slug,title,link
    Context:
      name: context
      in: query
      description: >-
        Scope under which the request is made; determines fields present in the response. Only
        `view` and `embed` are available anonymously — `edit` requires authentication.
      schema:
        type: string
        enum: [view, embed, edit]
        default: view
  responses:
    BadRequest:
      description: Invalid parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: >-
        Authentication required for this route or context. Returned as a WordPress error envelope,
        not RFC 9457 problem+json.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: No object found with that identifier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: >-
        The WordPress REST error envelope. NOT RFC 9457 — the media type is `application/json`
        and the shape is `{code, message, data:{status}}`.
      properties:
        code:
          type: string
          description: Machine-readable error code (e.g. `rest_post_invalid_id`, `rest_forbidden`).
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
      required: [code, message]
    RouteIndex:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        home:
          type: string
          format: uri
        namespaces:
          type: array
          items:
            type: string
        authentication:
          type: object
          description: Advertised authentication mechanisms — WordPress application passwords.
        routes:
          type: object
    Rendered:
      type: object
      properties:
        rendered:
          type: string
        protected:
          type: boolean
    Links:
      type: object
      description: HAL-style `_links` hypermedia block present on every object.
      additionalProperties: true
    Post:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
        date_gmt:
          type: string
        modified:
          type: string
        modified_gmt:
          type: string
        slug:
          type: string
        status:
          type: string
        type:
          type: string
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/Rendered'
        content:
          $ref: '#/components/schemas/Rendered'
        excerpt:
          $ref: '#/components/schemas/Rendered'
        author:
          type: integer
        featured_media:
          type: integer
        _links:
          $ref: '#/components/schemas/Links'
    Page:
      allOf:
        - $ref: '#/components/schemas/Post'
        - type: object
          properties:
            parent:
              type: integer
            menu_order:
              type: integer
            template:
              type: string
    Presentation:
      type: object
      description: >-
        A navtemadlin congress abstract, poster or publication. Registered custom post type
        `presentation`, rest_base `presentation`, no taxonomies attached.
      properties:
        id:
          type: integer
        date:
          type: string
        modified:
          type: string
        slug:
          type: string
        status:
          type: string
        type:
          type: string
          const: presentation
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/Rendered'
        template:
          type: string
        meta:
          type: object
        class_list:
          type: array
          items:
            type: string
        acf:
          description: Advanced Custom Fields payload; empty array when no fields are set.
        yoast_head:
          type: string
        yoast_head_json:
          type: object
        _links:
          $ref: '#/components/schemas/Links'
    TeamMember:
      type: object
      description: >-
        A leadership, board or advisor record. Registered custom post type `team`, rest_base
        `team`, no taxonomies attached.
      properties:
        id:
          type: integer
        slug:
          type: string
        status:
          type: string
        type:
          type: string
          const: team
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/Rendered'
        acf:
          type: object
          description: Structured Advanced Custom Fields for the person.
          properties:
            team-job-title:
              type: string
              description: Role at Kartos Therapeutics, or external affiliation for board and advisors.
              examples: ['CEO', 'CMO', 'Managing Partner at OrbiMed Advisors']
            team-credentials:
              type: string
              description: Post-nominal credentials.
              examples: ['MD', 'PhD', 'MD, PhD', 'PhD, CFA']
            team-bio:
              type: string
              description: Biography, as HTML.
        _links:
          $ref: '#/components/schemas/Links'
    MediaItem:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
        date:
          type: string
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/Rendered'
        media_type:
          type: string
          enum: [image, file]
        mime_type:
          type: string
          examples: ['image/svg+xml', 'image/png', 'image/jpeg', 'application/pdf']
        source_url:
          type: string
          format: uri
        alt_text:
          type: string
        media_details:
          type: object
        _links:
          $ref: '#/components/schemas/Links'
    SearchResult:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
        subtype:
          type: string
        _links:
          $ref: '#/components/schemas/Links'
    PostType:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        rest_base:
          type: string
        rest_namespace:
          type: string
        hierarchical:
          type: boolean
        taxonomies:
          type: array
          items:
            type: string
        _links:
          $ref: '#/components/schemas/Links'
    Term:
      type: object
      properties:
        id:
          type: integer
        count:
          type: integer
        name:
          type: string
        slug:
          type: string
        taxonomy:
          type: string
        link:
          type: string
          format: uri
        _links:
          $ref: '#/components/schemas/Links'
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        url:
          type: string
        description:
          type: string
        link:
          type: string
          format: uri
        avatar_urls:
          type: object
        _links:
          $ref: '#/components/schemas/Links'
    OEmbed:
      type: object
      properties:
        version:
          type: string
        provider_name:
          type: string
        provider_url:
          type: string
          format: uri
        author_name:
          type: string
        author_url:
          type: string
          format: uri
        title:
          type: string
        type:
          type: string
        width:
          type: integer
        height:
          type: integer
        html:
          type: string
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: >-
        WordPress application passwords, advertised by the site's own route index at
        `/wp-json/` (`authentication.application-passwords.endpoints.authorization` →
        https://kartosthera.com/wp-admin/authorize-application.php). Application passwords are
        issued to existing WordPress accounts only; there is no public sign-up, no developer
        registration and no self-service credential issuance. Every operation modelled in this
        document is readable ANONYMOUSLY — this scheme is documented because the site advertises
        it, not because any catalogued operation requires it.
security: []
